<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full-Page Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}">
</head>
<body>
  <!-- navigation bar -->
  <nav class="nav-bar">
    <div class="logo">RakshAI</div>
        <ul class="nav-items">
            <li><a href="#home">Home</a></li>
            <li><a href="#chatbot">Chatbot</a></li>
            <li><a href="#destination">About</a></li>
            <li><a href="#about">Location</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    
</nav>

  <div class="chat-container">
    <div class="chat-box" id="chat-box">
      <div class="chat-header">
        <h3>Chatbot</h3>
        
      </div>
      <div class="chat-content" id="chat-content">
        <div class="message bot-message">
          <p>Hi! How can I assist you today?</p>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" id="user-input" name="city" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
