<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!-- navigation bar -->
    <nav class="nav-bar">
        <div class="logo">RakshAI</div>
            <ul class="nav-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#chatbot">Chatbot</a></li>
                <li><a href="#destination">About</a></li>
                <li><a href="about">Location</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        
    </nav>

    

    
        <div class="container">
            <button onclick="sendLocation()" type="button" class="big-button" placeholder="Search location">Click Me To Get Location</button>
            
            <input type="text" class="big-search" placeholder="Search Location...">
            <button id="sumbit">Sumbit</button>
        </div>
    
        
    
</body>
</html>