<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
</head>
<body>
    <!-- navigation bar -->
    <nav class="nav-bar">
        <div class="logo">RakshAI</div>
            <ul class="nav-items">
                <li><a href="#home"></a>Home</li>
                <li><a href="#destination"></a>about</li>
                <li><a href="about"></a>location</li>
                <li><a href="#contact"></a>contact</li>
            </ul>
        
    </nav>
    <!-- home -->
     <section class="home" id="home">
        <h1 style="background:linear-gradient(135deg, #007BFF, #00C853); font-size: 70px;">RakshAI</h1>
        <p>Travel far enough to meet yourself,but never so far so that you forget to stay safe</p></br>
        <div class="search-container">
            <span class="search-icon">🔍</span>
            <input type="text" class="search-box" placeholder="Search location">
        </div>
        
     </section>

     <!-- weather -->
     <div class="weather">
        <h2>Weather</h2>
        <ul class="weather-items">
            <li id="source">source:</li>
            <li id="temperature">temperature:</li>
            <li id="description">description:</li>
            <li id="humidity">humidity:</li>
            <li id="wind-speed">wind speed:</li>
        </ul>
    </div>

        <section class="features" id="features">
            <h2>NEWS</h2>
            <div class="f-cards">
                <div class="f-card">
                    <h3>Title</h3>
                    <p>get started in minutes without any complicated installation</p>
                </div>
                <div class="f-card">
                    <h3>Title</h3>
                    <p>intutive desigh for seamless user experience</p>
                </div>
                <div class="f-card">
                    <h3>Title</h3>
                    <p>lightning-fast speed and reliable performance every time</p>
                </div>
            </div>
          </section>
        </br>

      <!-- Most Visited Places -->
      <p style="font-size:30px"><b>Important Places Nearby</b></p>
      <div id="police">
        <h2>Police Station</h2>
          <p>link/button</p>
      </div>
      </br></br>
      
      <div id="hospital">
        <h2>Hospitals</h2>
          <p>link/button</p></br>
      </div>
      </br></br>
          <!-- footer -->
        <footer class="footer">
            <p>&copy; 2025 RakshAI. All right reserved</p>
            <p>travel safely | made with &hearts;</p>
        </footer>
        </body>
</html>