<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">

</head>
<body>
    <!-- navigation bar -->
    <nav class="nav-bar">
        <div class="logo">RakshAI</div>
            <ul class="nav-items">
                <li><a href="/"></a>Home</li>
                <li><a href="/chatbot">Chatbot</a></li>
                <li><a href="/about"></a>about</li>
                <li><a href="/contact">contact</a></li>
            </ul>
        
    </nav>
    <!-- home -->
     <section class="home" id="home">
        <h1 style="background:linear-gradient(135deg, #007BFF, #00C853); font-size: 70px;">RakshAI</h1>
        <p>Travel far enough to meet yourself,but never so far so that you forget to stay safe</p></br>
       
        
     </section>

     <!-- weather -->
     <div class="weather">
        <h2>Weather</h2>
        <ul class="weather-items">
            <li id="source">Source : {{source}}</li>
            <li id="temperature">Temperature : {{temperature}} °C</li>
            <li id="description">Description : {{description}}</li>
            <li id="humidity">Humidity : {{humidity}} %</li>
            <li id="wind-speed">Wind Speed : {{wind_speed}} Km/h</li>
        </ul>
    </div>

        <section class="features" id="features">
            <h2>NEWS</h2>
            <div class="f-cards" >
                {% for item in news %}
                <div class="f-card" id="news-article0">
                    <h1>{{ item["title"] | default('No Traffic News Found') }}</h1>
                    <p>{{ item["description"] | default('User No news for your area today') }}</p>
                    <a href="{{ item['url'] }}" target="_blank">Read More</a>
                </div>
                {% endfor %}


            </div>
          </section>
        </br>

      <!-- Most Visited Places -->
      <p style="font-size:30px"><b>Important Places Nearby</b></p>
      <div id="police">
        <a href="{{police_station}}" target="_blank">Click to get nearest Police Stations</a>
      </div>
      </br></br>
      
      <div id="hospital">
        <a href="{{hospital}}" target="_blank">Click to get nearest Hospitals</a>
      </div>
      </br></br>
 <!-- summary card -->
      <div class="card">
        <div class="card-content">
            <h3 class="card-title">Summary By RakshAI</h3>
            <div class="card-summary" id="summary-content">{{ rate | safe }}</div>
        </div>
        
    </div>
    
          <!-- footer -->
        <footer class="footer">
            <p>&copy; 2025 RakshAI. All right reserved</p>
            <p>travel safely | made with &hearts;</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const summaryContent = document.getElementById("summary-content");

                if (summaryContent) {
                    summaryContent.innerHTML = marked.parse(summaryContent.innerHTML);
                }
            });

        </script>
        </body>
</html>
